.lazy-img {
    -webkit-transition: 0.4s ease opacity;
    -o-transition: 0.4s ease opacity;
    transition: 0.4s ease opacity;
    will-change: opacity;
    &.lazy-smooth-load {
        opacity: 0;
    }
}

.lazy-smooth-load {
    &.show {
        opacity: 1;
    }
}
